@import "mixins";
@import "variables";

.footer-container {
    background: linear-gradient(hsl(192, 37%, 48%, .85), hsl(192, 37%, 48%, .85)), url(../images/image-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    @include flex-center(row);
    align-items: flex-start;
    justify-content: space-between;
    padding: 7rem 10%;
    margin-top: -1.7rem;

    @include media-lg {
        padding: 6rem 5%;
    }

    @include media-md {
        padding: 5rem 2rem;
        text-align: center;
        @include flex-center(column);
    }

    h2 {
        font-size: 2.5rem;
        margin-top: -5px;

        @include media-md {
            font-size: 2rem;
        }
    }

    p {
        padding: 0 4rem;
        font-size: 1.125rem;
        font-weight: 500;

        @include media-lg {
            padding: 0 3rem;
        }
        @include media-md {
            padding: 2rem 0;
        }
    }

    button {
        border: none;
        outline: none;
        font-weight: 700;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        color: #fff;
        min-width: 10rem;
        @include transition;
        cursor: pointer;
        background-color: $dark-purple;
        @include transition;

        &:hover {
            background-color: $dark-purple;
            opacity: 0.8;
        }
    }
}