@import "variables";
@import "mixins";

.divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8.75rem;
    z-index: 2;

    .divider-line {
        width: 1px;
        height: 100%;
        transform-origin: top center;
        background: $text-color;
    }

    .divider-number {
        border: 1px solid hsl(240, 10%, 57%, .5);
        border-radius: 50%;
        padding: 15px 18px;
        color: $text-color;
        font-weight: 700;
        background-color: #fff;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0 10%;
    margin-top: 108px;

    @include media-lg {
        padding: 0 5%;
    }

    @include media-md {
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    img {
        border-radius: 10px;
    }
}