@import "variables";
@import "mixins";

.info-container {
    text-align: center;
    padding: 0 10%;
    margin: 108px 0;

    h4 {
        color: $sea-green;
    }

    h2 {
        color: $heading-color;
        font-size: 2.5rem;
        margin: 1rem 0;

        @include media-md {
            font-size: 2rem;
        }
    }

    p {
        color: $text-color;
        font-weight: 500;
        font-size: 1.115rem;
    }

    @include media-lg {
        padding: 0 5%;
    }

    @include media-md {
        padding: 0 2rem;
    }
}