@import "resets";
@import "functions";
@import "mixins";
@import "variables";

body {
    font-family: 'Red Hat Display', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

p {
    line-height: 1.625rem;
    letter-spacing: 1px;
}

body::-webkit-scrollbar-track {
    background: hsl(192, 37%, 48%, .3);
}

body::-webkit-scrollbar {
    width: 1rem;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background: hsl(192, 37%, 48%, .75);
}
