$text-color: hsl(240, 10%, 57%);
$heading-color: hsl(240, 21%, 20%);
$sea-green: hsl(192, 37%, 48%);
$dark-purple: hsl(258, 34%, 53%);
$overlay: rgba(0, 0, 0, 0.85);
$font-weights: ("regular": 400,
    "medium": 500,
    "bold": 600);